h1.name {
    font-size: 64px !important;
    margin-bottom: 16px !important;
    margin-top: 0 !important;
    font-family: Averia Gruesa Libre, serif !important;
    color: #192735 !important;
}

section#hero {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 16px;
    padding: 24px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.slim-wrapper {
    max-width: 1024px;
    margin: auto;
}

section#case-study .case-block {
    grid-column: span 12;
}

section#work-exp {
    padding: 24px;
}

section#education {
    padding: 24px;
}

section#skills {
    padding: 24px;
}

.case-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0;
}

section#case-study .content-ux {
    padding-bottom: 4em;
}

p {
    font-size: 16px;
    line-height: 24px;
    opacity: .9;
    color: #192735;
}

p.about {
    font-size: 19px;
    line-height: 30px;
    opacity: .8;
    max-width: 600px;
}

.mouse {
    width: 3px;
    padding: 3px 10px;
    height: 28px;
    border: 1.5px solid #d0021b;
    border-radius: 25px;
    opacity: .5;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 8px;
    border-radius: 25%;
    background-color: #d0021b;
    animation-name: scroll;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

.fa {
    padding: 20px;
    font-size: 30px !important;
    /*width: 25px;*/
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.link {
    text-decoration: none;
    color: #125688;
}

.links {
    box-sizing: none !important;
}

/*body {
  background: #55ACEE;
}

section {
  background: #f4f6ff;
}
*/

#footer {
  margin: 30px;
}

.resume-list .resume-list__block:before {
    width: 12px;
    height: 12px;
    border: 2px solid #6d56c1;
    position: absolute;
    content: "";
    border-radius: 50%;
    background-color: #fff;
    left: 10px;
}

.resume-list .resume-list__block-title {
    text-transform: uppercase;
    color: #6d56c1;
    font-size: 18px;
    line-height: 20px;
    font-family: Roboto Mono,monospace;
    font-weight: 700;
    padding-bottom: 5px;
}

.resume-list .resume-list__block {
    border-left: 2px solid #6d56c1;
    padding-left: 25px;
    padding-bottom: 5px;
}

.resume-list .resume-list_title {
    font-family: Averia Gruesa Libre, serif !important;
    font-size: 34px;
    line-height: 20px;
    text-transform: uppercase;
    color: #192735;
    margin-bottom: 40px;
}

.progress-list__title {
	color: #192735;
	font-size: 34px;
	font-family: Averia Gruesa Libre, serif !important;
	line-height: 20px;
    text-transform: uppercase;
}