h1 {
    font-size: 64px;
    margin-bottom: 16px;
    margin-top: 0;
    font-family: Averia Gruesa Libre,serif;
    color: #192735;
}

section#hero {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 16px;
    padding: 24px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.slim-wrapper {
    max-width: 1024px;
    margin: auto;
}

section#case-study .case-block {
    grid-column: span 12;
}

.case-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0;
}

section#case-study .content-ux {
    padding-bottom: 4em;
}

p {
    font-size: 16px;
    line-height: 24px;
    opacity: .9;
    color: #192735;
}

.mouse {
    width: 3px;
    padding: 3px 10px;
    height: 28px;
    border: 1.5px solid #d0021b;
    border-radius: 25px;
    opacity: .5;
    box-sizing: content-box;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/*body {
  background: #55ACEE;
}

section {
  background: #f4f6ff;
}

footer {
  background: #0f4c75;
}*/