h1.name {
    font-size: 64px !important;
    margin-bottom: 16px !important;
    margin-top: 0 !important;
    font-family: Averia Gruesa Libre, serif !important;
    color: #192735 !important;

    overflow: hidden;
    border-right: .15em solid #3282b8;
    margin: 0 auto;
    letter-spacing: .06em;
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    white-space: nowrap;
}

.about span {
    font-size: 22px;
    font-weight: bold;
    color: black;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #3282b8; }
}

section#hero {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 16px;
    padding: 24px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.slim-wrapper {
    max-width: 1024px;
    margin: auto;
}

section#case-study .case-block {
    grid-column: span 12;
}

section#work-exp {
    padding: 24px;
}

section#education {
    padding: 24px;
}

section#skills {
    padding: 24px;
}

.case-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0;
}

section#case-study .content-ux {
    padding-bottom: 4em;
}

p {
    font-size: 16px;
    line-height: 24px;
    opacity: .9;
    color: #192735;
}

p.about {
    font-size: 19px;
    line-height: 30px;
    opacity: .8;
    max-width: 600px;
}
.scroll-btn{
    position: relative;
}

.scroll-down {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
}

.mouse {
    width: 3px;
    padding: 3px 10px;
    height: 28px;
    border: 1.5px solid #d0021b;
    border-radius: 25px;
    opacity: .5;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 8px;
    border-radius: 25%;
    background-color: #d0021b;
    animation-name: scroll;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    20% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(12px);
        opacity: 0;
    }
}

.fa {
    padding: 20px;
    font-size: 30px !important;
    /*width: 25px;*/
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-envelope {
    background: #00b489;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.link {
    text-decoration: none;
    color: #125688;
}

.links {
    box-sizing: none !important;
}

/*body {
  background: #55ACEE;
}

section {
  background: #f4f6ff;
}
*/

#footer {
  margin: 30px;
}

.resume-list .resume-list__block:before {
    width: 12px;
    height: 12px;
    border: 2px solid #125688;
    position: absolute;
    content: "";
    border-radius: 50%;
    background-color: #fff;
    left: 10px;
}

.resume-list .resume-list__block-title {
    text-transform: uppercase;
    color: #125688;
    font-size: 18px;
    line-height: 20px;
    font-family: Roboto Mono,monospace;
    font-weight: 700;
    padding-bottom: 5px;
}

.resume-list .resume-list__block {
    border-left: 2px solid #125688;
    padding-left: 25px;
    padding-bottom: 5px;
}

.resume-list .resume-list_title {
    font-family: Averia Gruesa Libre, serif !important;
    font-size: 34px;
    line-height: 20px;
    text-transform: uppercase;
    color: #192735;
    margin-bottom: 40px;
}

.progress-list__title {
	color: #192735;
	font-size: 34px;
	font-family: Averia Gruesa Libre, serif !important;
	line-height: 20px;
    text-transform: uppercase;
}

.progress-list__skill {
	padding-bottom: 10px;
}

.progress-bar {
    background-color: #125688 !important;
}

html {
    overflow:   scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body section {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1119px)
.slim-wrapper {
    padding: 0 24px;
}

@media only screen and (max-width: 1000px) {
  /* For tablets: */
    section#hero h1.name{
        font-size: 49px !important;
        overflow: auto;
        border-right: none;
        margin: auto;
        letter-spacing: none;
        animation: none;
        white-space: normal;
    }
}

/* For mobile phones: */
@media only screen and (max-width:500px) {
  
    section#hero .image {
        display: none;
    }
    section#hero {
        grid-template-columns: 100% !important;
        height: 80vh !important;
    }

    section#hero h1.name{
        font-size: 52px !important;
    
        overflow: auto;
        border-right: none;
        margin: auto;
        letter-spacing: none;
        animation: none;
        white-space: normal;
    }


    section#hero a.scroll-btn{
        display: none
    }

    .fa {
        padding: 13px !important;
        font-size: 25px !important;
        /*width: 25px;*/
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        width: 50px !important;
        height: 50px !important;
    }

    .progress-list__title {
        line-height: 30px !important;
    }
}
/* For mobile phones: */

#noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}